<head>
  <link rel="stylesheet" href="css/teachers.css" />

</head>
<body>


  <div class = "container">
    <header class = "header">
      <h4 class = "title">Our adorable tutors</h4>
      <small class = "subtitle">Search by name, speciality, or degree</small>
      <input type = "text" id="filter" placeholder="Search">
    </header>
    <ul id="result" class="user-list">
      <li>
        <h3>Loading...</h3>
      </li>
    </ul>
  </div>
  <script src="js/teach.js"></script>
</body>
