<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.css"/>
    <link rel="stylesheet" href="css/vis.css">
</head>
<body>
    <div class="section">

        <h1>Welcome to AITU</h1>

        <div class="video-container">
            <div class="color-overlay"></div>
            <video autoplay loop muted>
                <source src="videos/back.mp4" type="video/mp4">
            </video>
        </div>


    </div>


    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>OpenWeatherMap Api</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>


    <div class="input">
        <input type="text" placeholder="Enter the city" class="input_text">
        <input type="submit" value="Submit" class="submit">
    </div>
    </div>

    <div class="container">
        <div class="card">
            <h1 class="name" id="name"></h1>
            <p class="temp"></p>
            <p class="clouds"></p>
            <p class="desc"></p>
        </div>
    </div>
    <script src="js/app.js"></script>
    </body>
    </html>

    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h6>About</h6>
                    <p class="text-justify">
                        Building an effective training system in the field of IT
                        technologies and related fields of knowledge that meets the needs of
                        the state. Integration of scientific research and educational
                        process in the field of ICT and related fields. Personal development
                        of a future specialist with high social and civic responsibility.
                    </p>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Categories</h6>
                    <ul class="footer-links">
                        <li><a href="#">C++</a></li>
                        <li><a href="#">C#</a></li>
                        <li><a href="#">Java</a></li>
                        <li><a href="#">Python</a></li>
                        <li><a href="#">Android Developing</a></li>
                        <li><a href="#">IOS Developing</a></li>
                    </ul>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Quick Links</h6>
                    <ul class="footer-links">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Contribute</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <hr />
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">
                        Made by Akimaliyev Sultan
                        <a href="https://www.instagram.com/akimaliiev/">@akimaliiev</a>
                        <br />
                        Oraz Maksat
                        <a href="https://www.instagram.com/makcat_3/">@makcat_3</a>

                    </p>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                        <li>
                            <a
                                    class="facebook"
                                    href="https://www.facebook.com/astanaituniversity/"
                            ><i class="fa fa-facebook"></i
                            ></a>
                        </li>
                        <li>
                            <a
                                    class="twitter"
                                    href="https://twitter.com/tokayevkz/status/1197062657653792768"
                            ><i class="fa fa-twitter"></i
                            ></a>
                        </li>
                        <li>
                            <a
                                    class="instagram"
                                    href="https://www.instagram.com/astana_it_university/"
                            ><i class="fa fa-instagram"></i
                            ></a>
                        </li>
                        <li>
                            <a
                                    class="linkedin"
                                    href="https://kz.linkedin.com/school/astanait-university/"
                            ><i class="fa fa-linkedin"></i
                            ></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


</body>
</html>
